.select {
  width: 70%;
}

h3 {
  padding-top: 10px;
  width: 70%;

  span {
    font-weight: 400;
    font-size: 0.8rem;
    margin-left: 5px;
  }
}

.error {
  color: rgb(201, 0, 0);
  font-size: 1.2rem;
  margin: 10px 0 0 0;
}
