$spinner-size: 50px;

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.container {
	display: inline-block;

	div {
		width: $spinner-size;
		height: $spinner-size;
		border: 10px solid #cfcfcf;
		border-top: 10px solid #149bfc;
		border-radius: 50%;
		animation: spinner 1.5s linear infinite;
	}
}
