.card {
  background-color: rgba(181, 247, 173, 0.8);
  border-radius: 10px;
  font-size: 0.8rem;
  padding: 7px;
  margin: 8px 0;
  width: 90%;
  max-width: 180px;

  .upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;

    img {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin: 5px;
    }
  }

  .lower {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &:hover, &:focus {
    cursor: pointer;
    box-shadow: 0px 0px 20px -12px rgba(0, 0, 0, 0.71);
    -webkit-box-shadow: 0px 0px 20px -12px rgba(0, 0, 0, 0.71);
  }
}
