.wrapper {
	display: flex;
	margin-top: 20px;

	.toolbox-wrapper {
		flex-basis: 18%;
		display: flex;
		justify-content: center;
	}

	.panel-wrapper {
		flex-basis: 82%;
		background-color: orange;

		h1 {
			font-size: 1.6rem;
		}
	}
}
