@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

.home-wrapper {
	overflow: hidden;
	height: 100vh;
	position: absolute;
	top: 0;

	img {
		display: inline-block;
		width: 105%;
	}

	.panel-wrapper {
		position: absolute;
		width: 100%;
		top: 30vh;
		display: flex;
		justify-content: center;
		align-items: center;

		.panel {
			background-color: rgba(255, 255, 255, 0.7);
			padding: 80px;
			border-radius: 30px;

			h2 {
				font-size: 3.8rem;
				text-align: center;
				font-weight: bold;
				margin: 15px;
			}
		}
	}
}
